*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cabin', sans-serif;
    background-color: #333;
    color: #fff;
}
h2{
    padding: 10px 20px;
    text-align: center;
}
h3{
  padding: 10px 20px;
  text-align: center;
}

.container{
    padding: 20px;
}

img{
    display: inline-block;
    height: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, auto);
  }
  .grid-item {
    margin: 10px 5px;
    height: 100px;
    width: 100px;
    background-color: #666;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  tr{
    height: 100px;
    width: 100px;
  }

  td{
    height: 100px;
    width: 100px;
  }